body {
  margin: 3em; 
  padding: 0; 
  background: hsl(0 0 80%); 
  min-height: 100vh; 
  width: -webkit-fill-available; 
  display: flex; 
  justify-content: center; 
} 

#content { 
  align-items: anchor-center; 
  display: flex;
  flex-direction: column;  
  width: 100%; 
  flex-wrap: wrap; 
}



#sketchDiv {
  border: 1px solid black; 
  margin: 2em;
  background-color: white; 
}
/*
button {
  border: 1 px solid hsl(0 0 100%);
  all: unset; 
  display: flex; 
}
*/
